---
import { getCollection, render } from "astro:content";
import HomeLayout from "../../layouts/HomeLayout.astro";
import "../../styles/blog.css"

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map(post => ({
        params: { slug: post.data.slug },
        props: { post }
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---
<HomeLayout title="Blogs">
	<div class="text-zinc-400 flex flex-col gap-2 py-4">
        <h1 class="text-3xl text-zinc-300 font-bold">{post.data.title}</h1>
        <p class="text-sm text-zinc-400 pb-2">{post.data.pubdate.toLocaleDateString('en-IN')}</p>
        <article>
          <Content />
        </article>
    </div>
</HomeLayout>
