---
import HomeLayout from "../layouts/HomeLayout.astro"
---
<HomeLayout title="Experiments">
	<div class="text-zinc-400 flex flex-col gap-2 py-4">
		<h1 class="text-3xl text-zinc-300 font-bold">Experiments</h1>
		<p class="h-96">Make sure to put some fun things here!<br/>
		</p>

	</div>
</HomeLayout>