---
import HomeLayout from "../layouts/HomeLayout.astro"
---
<HomeLayout title="Archisman Das">
	<div class="text-zinc-900 flex flex-col gap-2 py-4 min-h-96">
		<h1 class="text-3xl font-bold">Archisman Das</h1>
    <p>I am currently pursuing my degree in <span class="text-accent">Computer Science</span> and <span class="text-accent">Economics</span> at BITS Pilani, Hyderabad</p>
    <p>I am a part time <span class="text-accent font-mono">sysadmin</span> for our university's <a class="link" href="https://sharanga.hpc.bits-hyderabad.ac.in">HPC Cluster</a>.</p>
    <p>I am also the president of <a class="link" href="https://www.crux-bphc.com/">CRUx BPHC</a>, the progamming and computing club of my college.</p>
		<p>I like playing with computers.</p>
	</div>
</HomeLayout>
