---
import HomeLayout from "../layouts/HomeLayout.astro"
---
<HomeLayout title="Archisman Das">
	<div class="text-zinc-400 flex flex-col gap-2 py-4">
		<h1 class="text-3xl text-zinc-300 font-bold">Archisman Das</h1>
		<p class="h-96">I like playing with computers.<br/>
		</p>
	</div>
</HomeLayout>