---

---

<div class="mt-4 py-2">
    <div class="flex flex-row gap-4">
        <a class="clickable" href="mailto:archisman0306@gmail.com">email</a>
        <a class="clickable" href="https://www.linkedin.com/in/aten2005/">linkedin</a>
        <a class="clickable" href="https://github.com/aten2005/">github</a>
        <p class="ml-auto">Archisman Das 2026</p>
    </div>
</div>
