---

---

<div class="mt-4 py-4">
    <div class="flex flex-row gap-4">
        <a class="hover:text-zinc-300" href="/">email</a>
        <a class="hover:text-zinc-300" href="/">linkedin</a>
        <a class="hover:text-zinc-300" href="/">github</a>
        <p class="ml-auto">Archisman Das 2026</p>
    </div>
</div>